body {
    
    margin: 50px 60px 50px;
    padding: 10px 10px 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-content: center;
    background-color: rgb(236, 236, 177);
  }

  article.main{
      padding: 10px 10px 10px;
      border-style: solid;
      border-color:rgb(115, 143, 13) ;
  }

  div{
    margin: 1px 1px 12px;
    padding: 10px 10px 10px;
    border-style:ridge;
    border-color:rgb(115, 143, 13) ;

  }
  
  body header,
  body footer,
  body nav {
    grid-column: 1 / span 6;
  }

  body article {
    grid-column: 1 / span 4;
    margin: 50px 50px 50px;
  }

  
  .hb{
      display: inline;
      height: 100px;
      width: 100%;
      text-align: center;
      font-family: 'Cooper black' ;
      font-size: 50px;
      font-weight: bolder;
      text-decoration: overline;
     
  }

  nav{
      display: inline;
      margin:50px 20px 50px;
      width: 100%;
      height: 50px;
      text-align: center;
    
  }
  nav a{
      display: inline;
      margin:20px 20px 20px;
      padding: 20px 20px 20px;
      font-family: 'Cooper black';
      color: rgb(115, 143, 13);
      cursor: pointer;
      text-decoration: none;
      border: outset rgb(115, 143, 13);
  }

  .p{
      display: block;
      padding: 10px 50px 10px;
      text-align:left;
      text-indent: 1cm;
      font-family: 'Concert One';
      color: black;
      text-decoration: none;
      font-weight:bold ;
      font-size: 30px;
  }
  .p2{
    display: block;
    text-align:justify;
    text-indent: 1cm;
    font-family: 'Concert One';
    color: black;
    text-decoration: none;
    font-weight:bold ;
    font-size: 20px;
}

.p3{
    display: block;
    text-align:center;
    font-family: 'Concert One';
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
}
.l{
    text-align: justify;
    font-family: 'Concert One';
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
}


  .death{
    width: 1000px;
    height: 366px;
    text-align: center;
    
  }

  .p1{
    display: block;
    text-align: center;
    font-family: 'Cooper black';
    color: black;
    text-decoration: overline;
    font-weight:bold ;
    font-size: 20px;

  }
  .main{
    margin: 1px 15px 15px;
  }

  .main header{
    display: inline;
    width: 100%;
    text-align: center;
    font-family: 'Cooper black' ;
    font-size: 50px;
    font-weight: bold;
    color:  rgb(115, 143, 13);


  }


  .aside{
    width: 230px;
    height: 300px;
    margin: 110px -3px 110px ;
    text-align: center;
    border-style: solid;
    border-color: black;

   }

   .aside1{
    width: 230px;
    height: 300px;
    margin: 110px -2px 110px ;
    text-align: center;
    border-style: solid; 
    border-color: black;
   }



#f{
    display: inline;
    padding: 30px;
    text-align: center;
    font-family: 'Cooper black';
    font-size: 20px;
    text-decoration: none;


}

#sec-buy{
    display: inline;
    padding: 60px 60px 60px;
}

